[submodule "vendor_c/stef/libopaque"]
	path = vendor_c/stef/libopaque
	url = https://github.com/stef/libopaque.git
[submodule "vendor_c/stef/liboprf"]
	path = vendor_c/stef/liboprf
	url = https://github.com/stef/liboprf.git
[submodule "vendor_c/jedisct1/libsodium"]
	path = vendor_c/jedisct1/libsodium
	url = https://github.com/jedisct1/libsodium.git
	# Pin to a stable tag via:
	#   git -C vendor_c/jedisct1/libsodium checkout 1.0.20
	# The WASM path uses an independent libsodium pin under
	# vendor_c/stef/libopaque/js/libsodium.js (see build-libopaque-wasm.sh).
